.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.form-control input:focus {
  outline: none;
  background: aliceblue;
  border-color: #a9a3ff;
}

.form-control.invalid input {
  
  background: #fad0ec;
  border-color: #8b005d;
  
}

.form-control.invalid label {
  
  color: red;
  
}

.recipe-input {
  margin: 1rem 1rem;
  padding: 0.4rem;
  /*background: #a3d9ff;*/
  background: repeating-linear-gradient(
    45deg,
    #a3d9ff,
    #606dbc 10px,
    #354b75 10px,
    #465298 20px
  );
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  width: 500px;
  border-radius: 15px 15px;
  border: solid aliceblue;
  border-width: 0 1px;
  border-style: solid;
  overflow: hidden;
}

.centered-content {
  display: flex;
  justify-content: center;
}

.search-message {
  color: #84ff74;
  
}

.search-button {
  border-radius: 0px 15px 15px 0px;
  border-color: aliceblue;
  border-width: 0 1px;
  border-style: solid;
  overflow: hidden;
  padding: 1rem;
  
}

.reset-button {
  border-radius: 15px;
  border: solid aliceblue;
  border-width: 0 1px;
  border-style: solid;
  overflow: hidden;
  padding: 1rem;
  margin-top: 2rem;
  
}